.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    max-width: fit-content;
    min-height: 100vh !important;
    background-color: rgba(126, 195, 184);
    z-index: 100;
    padding: 68px 0 0;
}

a.nav-link:hover {
    color: white;
    background-color: black;
}

a.nav-link {
    color: white;
    width:180px;
padding-left: 56px;

}
.sideLinks{
margin-top: 150px;
}
a.nav-link::-moz-selection{
    background-color: black;
}
